:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  color: var(--dark-grayish-blue);
  /* padding: 0 2rem; */
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  font-size: 1.4rem;
  height: 100vh;
  width: 100%;
  padding: 0 2rem;
}

.hero-text-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-heading {
  font-weight: 600;
}

.hero-description {
  line-height: 2rem;
  font-size: 1.28rem;
  color: var(--grayish-blue);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ios,
.mac {
  font-size: large;
  padding: 1.2rem 3rem;
  color: white;
  border-radius: 100vh;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.ios {
  background-color: var(--strong-cyan);

  &:hover {
    background-color: hsl(171, 66%, 48%);
  }
}

.mac {
  background-color: var(--light-blue);

  &:hover {
    background-color: hsl(233, 100%, 72%);
  }
}

.text-container {
  margin: 8rem auto 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 640px;
  text-align: center;
  padding: 0 2rem;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
}

.description {
  color: var(--grayish-blue);
  font-size: 1rem;
  line-height: 1.8rem;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.features i img {
  position: relative;
  left: -25%;
  width: 60vw;
  max-width: 750px;
}

.secondary-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  max-width: 350px;
}

.secondary-text-heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.secondary-text-desc {
  margin-top: 1rem;
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

.devices-image img {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 70vw;
  max-width: 600px;
}

.supercharge-workflow {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  gap: 1rem;
  padding: 0 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  max-width: 350px;
}

.icons {
  min-height: 50px;
}

.workflow-heading {
  font-weight: 900;
  font-size: 1.3rem;
}

.workflow-desc {
  color: var(--grayish-blue);
}

.company-logos {
  margin-block: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;

  img {
    height: fit-content;
  }
}

.last-btns {
  margin-top: -2rem;
  padding: 0 2rem;
}

footer {
  margin-top: 10rem;
  padding: 3rem 2rem;
  background-color: hsl(201, 11%, 97%);
}

.footer-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
}

.logo-image img {
  width: 55px;
  margin-right: 1rem;
}

.links {
  display: flex;
  gap: 6rem;
}

li {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  color: hsl(201, 11%, 50%);

  &:hover {
    color: var(--strong-cyan);
  }
}

.social-icons {
  position: absolute;
  display: flex;
  gap: 1.2rem;
  right: 10%;
  img {
    height: fit-content;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .features {
    flex-direction: column;
    gap: 5rem;
  }

  .features i img {
    width: 80%;
    left: 50%;
    transform: translate(-50%);
  }

  .devices-image img {
    width: 80%;
  }

  .supercharge-workflow {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
  .buttons {
    flex-direction: column;
    width: inherit;
    align-items: normal;
  }

  .main-section i img {
    width: 100px;
  }

  .features {
    text-align: center;
  }

  .features i img {
    width: 100%;
  }

  .devices-image img {
    width: 100%;
  }

  .company-logos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    gap: 0;
  }

  li {
    margin-block: 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

@media (max-width: 1024px) {
  .footer-container {
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .social-icons {
    position: relative;
    right: auto;
  }
}
